@import url(css/archive-bois.css);
@import url(css/archive-revetements.css);
@import url(css/single-bois.css);
@import url(css/single-revetements.css);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

#primary-menu li a{
	color: black !important;
	list-style: none;
}



#primary-menu {
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style: none;
	margin-block: 0;
	color: black;
}



#primary-menu li {
	padding-block: 10px;
}

#primary-menu li:hover{
	font-weight: bold;
}


li {
	display: inline-block;
	position: relative;
}

a {
	text-decoration: none;
	padding: 10px;
	display: block;
}


ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #f2f2f2;
}

li:hover > ul {
	display: block;
}